data/bible_timeline.txt
data/bible.md

data/kjv_cr_all.csv
data/t_asv.csv
data/tb.csv
data/AKJV.csv
data/Bible_English_ESV.db
data/KJV_original.csv
data/kjv-apocrypha.csv
data/kjv-pure-cambridge-edition.csv
data/updated-king-james-version.csv

assets/demo_1.gif
assets/demo_2.gif

training/bible_dataset.ipynb